{% extends 'shop/basic.html' %}
{% block title %} Checkout {% endblock %}

{% block body %}

<div class="container mx-auto">

    <h2 class="my-4">Step-1 - Express Checkout - Review Your Cart Items</h2>

    <div class="my-4" id="cartItems" >

        <div class="input-group" >
            <input type="text" value="" class="form-control" aria-label="cart-item(number)">
            <span class="input-group-text"></span>

        </div>


    </div>

    <h2 class="my-4">Step-2 - Enter Address </h2>

    <form class="row g-3" method="post" id="checkoutForm" action="/shop/checkout/">
        {% csrf_token %}

        <input type="hidden" id="itemsJson" name="itemsJson" >

        <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>

        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="emailaddress@example.com">
        </div>

        <div class="col-12">
            <label for="inputPhone" class="form-label">Phone No.</label>
            <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="1234...">
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label">Address line 1</label>
            <input type="text" class="form-control" id="inputAddress" name="address1"   placeholder="1234 Main St...">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address line 2</label>
            <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" name="city" placeholder="Your City">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <input type="text" class="form-control" id="inputState" name="state" placeholder="Enter your state">

        </div>
        <div class="col-md-2">
            <label for="inputPin" class="form-label">Pin</label>
            <input type="text" class="form-control" name="zip_code" id="inputPin">
        </div>

        <div class="col-12 my-4">
            <button type="submit" class="btn btn-primary">Place Order</button>
        </div>
    </form>



</div>

{% endblock %}

{% block js %}

<script>


    let cart = JSON.parse(localStorage.getItem('cart') ?? '{}');
    console.log(cart)

    let cartItemElement = document.getElementById('cartItems');

    cartItemElement.innerHTML = ""

    if(Object.keys(cart).length == 0){

        cartItemElement.innerHTML = `Your cart is empty`

    }else{

        let myText = "";

        let index = 1;

        let totalItems = 0;

        for (let item in cart) {

            let productName = cart[item].name

            let quantity = cart[item].quantity

            totalItems = totalItems + quantity
            
            myText = myText + `<div class="input-group" ><input type="text" value="${index}.  ${productName}" class="form-control" aria-label="cart-item(number)">
            <span class="input-group-text">${quantity}</span></div>`
            index++

        }

        document.getElementById('cart').innerHTML = totalItems
        cartItemElement.innerHTML = myText

    }

    const form = document.getElementById('checkoutForm')

   
    //itemsJson is hidden & gets populated after the form submission, this step stops form submission, populates & save data init & manually submits the form//
    form.addEventListener('submit', function(e){

        e.preventDefault();

        const custCart = JSON.stringify(cart);
        document.getElementById('itemsJson').value = custCart;

        form.submit();
        
    });

    //convert thank, orderId variable from django to js//
    let thank = "{{ thank|yesno:'true,false' }}";
    let orderId = "{{ orderId }}";
   
    if (thank === 'true'){

        alert(`Your order is placed. Your order id is ${orderId}`)
        
        localStorage.clear()
        document.location = '/shop/'

    }
    
    


</script>


{% endblock %}